<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%=@user.name%></dd>
  </dl>
</div>

<% if current_user.admin? && current_user?(@user) %>
    <%= render 'users/team_overview' %>
<% end %>

<% if @user.member? %>
    <%= render 'estimations/overview', user: @user %>
<% end %>