<div class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">
        <li>
          <%= link_to "Magic Estimation", root_path %>
        </li>
      </ul>

      <div class="nav-item">
        <%= link_to 'Register', register_path, class: 'btn btn-default' %>
      </div>

    </div>


  </div>
</div>